.DS_Store
*.pyc
*.pyo
*.sqlite3
dist
*.egg
*.egg-info
_mailinglist
.tox
node_modules
.idea

*.jpg
*.jpeg
*.png
*.gif
*.pyd

.vscode
.settings
venv

*.db
*.log
*.tar.gz
upload/*
upload/*.xlsx
upload/*.xls
upload/images/*
*.so
build/
log/
migrations/versions/*
tests/
__pycache__
env.md
setup.py
Dockerfile
Dockerfile_base
wms.yml